.header {
    height: 120px;
    background-image: linear-gradient(0, #749eba, #464b6f);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0%;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

/*chỉnh icon ở giữa*/
/*.header__navbar-item:hover,
.header__navbar-item-link :hover
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}*/

/*Làm mờ đi khi di chuột vào các chữ */
.header__navbar-item:hover,
.header__navbar-icon-link
.header__navbar-item-link :hover{
    color: rgba(255, 255, 255, 0,7);/*lỗi khôn làm mờ đ*/
    cursor: pointer;
}

/*chinh cho "đăng nhập, đăng kí" chữ đậm*/
.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #e5eeed;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50px);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-emphasis: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

/*làm mất đi bàn tay khi di chuột vào "Kết nối"*/
.header__navba-icon-pointer{
    cursor: text;
    color: var(--white-color);
}

/*Header QR code CSS*/

.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.headeer__qr-download-img{
    height: 16px;
}

/*Header notification*/
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item :hover{
    background-color: #f7f7f7;
    width: 100%;
}
.header__notify-item--view{
    background-color: rgba(213, 27, 27, 0.09);
}
.header__notify-link{
   display: flex;
   padding: 12px;
   /* width: 100%; */
   text-decoration: none;

}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rrem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #756F6E;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/*authen model*/
.auth-form {
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__headear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    
}

.auth__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth__input :focus {
    border-color: #888;
}

.auth-form_aside{
    padding-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}